/* 2058499 Team Budget Planner */
body {
    margin: 0 auto;
    text-align: left;
    border: 5px solid black;
    padding-left: 20px;
    padding-bottom: 20px;
}

ul {
    list-style: none;
}

#li_finance_teams {
    margin-top: 20px;
}

div {
    margin-bottom: 10px;
}

th, td {
    border: 2px solid black;
}

th {
    text-align: center;
}

table {
    margin-bottom: 10px;
}