<div class="container">
    <div *ngIf="loginPage" class="component">
        <h1>Login Form</h1>
        <div class="form-group">
            <form [formGroup]="loginForm" (ngSubmit)="login()">
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username" class="form-control">
                <br>
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control">
                <br>
                <br>
                <div class="alert" *ngIf="usernamePasswordError"> 
                    username and/or password is incorrect
                </div>
                <br>
                <input type="submit" value="Login" [disabled]="!loginForm.valid">
                <input type="button" value="Sign Up" (click)="signUp()">
            </form>
            <br>
        </div>
    </div>
    
    <div *ngIf="registrationPage" class="component">
        <h1>Registration Form</h1>
        <input type="button" value="To Login Page" (click)="toLoginPage()">
        <br><br>
        <div class="form-group">
            <form [formGroup]="registrationForm" (ngSubmit)="register()">
                <label for="firstname">First name</label>
                <input type="text" id="firstname" formControlName="firstname" class="form-control">
                <br>
                <label for="lastname">Last name</label>
                <input type="text" id="lastname" formControlName="lastname" class="form-control">
                <br>
                <label for="username">Username</label>
                <input type="text" id="username" formControlName="username" class="form-control">
                <br>
                <label for="password">Password</label>
                <input type="password" id="password" formControlName="password" class="form-control">
                <br>
                <br>
                <div class="alert" *ngIf="usernameExistedError"> 
                    The username has been taken!
                </div>
                <div class="success" *ngIf="registrationSuccess"> 
                    Registration Completed! You can login now
                </div>
                <br>
                <input type="submit" value="Register" [disabled]="!registrationForm.valid">
                <input type="reset" value="Reset">
            </form>
            <br>
        </div>
    </div>
    
    <div *ngIf="portfolioPage" class="component">
        <h1>My Portfolio</h1>
        <h3>Welcome {{username}}</h3>
        <div class="form-group">
            <form [formGroup]=contactForm (ngSubmit)="saveContact()">
                <label for="contactName">Contact Name</label>
                <input type="text" id="contactName" formControlName="contactName" class="form-control">
                <br>
                <label for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" formControlName="phoneNumber" class="form-control">
                <br><br>
                <input type="submit" value="Save" [disabled]="!contactForm.valid">
            </form>
        </div>
        <br>
        <input type="button" value="Contact Details" (click)="showTable()">
        <br><br>
        <table *ngIf="contactsTable">
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
            </tr>
            <tr *ngFor="let contact of database.searchUser(this.username)?.getContacts()">
                <td>{{contact.getName()}}</td>
                <td>{{contact.getNumber()}}</td>
            </tr>
        </table>
        <br>
        <!-- optional: implement a "logout" button.
                Because without the logout button, it's like we are 
                playing S.A.O. -->
    </div>
</div>
