/* 2058499 Simply Blogging */

@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* font-family: 'Pacifico', cursive; */

body {
    background-image: url('https://cdn.wallpapersafari.com/8/81/3ZPS9q.png');
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    padding: 10px;
    margin: 0 auto;
    background-color: rgb(230,223,209);
}

h3 {
    text-align: center;
}

ul {
    background-color: #cbc5b0;
}

a {
    color: black;
}

section {
    margin-top: 150px;
}

form div {
    padding-left: 15px;
} 
